/* for the nav bar, same as home/index page */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 16px;
}

nav .nav-links {
    display: flex;
    gap: 10px;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

#logopic {
    height: 65px;
    vertical-align: middle;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    margin: 10px;
}

#luntian {
    color: white;
    font-size: 30px;
    margin-left: 8px;
}

/* sets background image, same as homepage */

body {
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center center;
}

/* positions the small help button (not yet functional) */

#help {
    position: fixed;
    bottom: 0px;
    right: 0px;
    transition: all 3s;
    transition-timing-function: ease-in-out;
}

#help:hover {
    transform: rotate(360deg);
}

/* uses flex to put the two divs side-by-side on the page */

main {
    display: flex;
}

/* sets font family to Arial */

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* first div, the ABOUT US portait banner at the side with the cute backstory */

aside {
    border: 2px solid black;
    padding: 20px;
    width: 350px;
    background-color: white;
}

#aboutushead {
    font-size: 28px;
    font-weight: bold;
}

#aboutussub {
    margin: 5px;
    font-size: 16px;
    font-style: italic;
}

#aboutuspar {
    border-top: 2px solid black;
    margin: 15px;
}

#partext {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
}

/* this second div holds the Recommended Resources and About the Author parts */

section {
    flex: 1;
    padding: 20px;
}

#sideDivhead {
    text-align: center;
}

.resourcepics {
    height: 220px;
    width: 220px;
}

#aboutmepartext {
    border-style: solid;
    padding: 10px;
    background-color: white;
    width: 60%;
    float: right;
}

#selfpic {
    width: 275px;
    float: left;
    margin-right: 20px;
}

/* formats sources with small font according to rubrics + clears it so that it doesnt go next to my profile pic*/

#sources {
    font-size: small;
    clear: left;
    margin-top: 200px;
}