/* this part sets the LUNTIANG LIWANAG title block */

#banner {
    border: 5px outset green;
    background-color: lightblue;    
    text-align: center;
}

/* this parts set the navigation bar via the class .topnav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 16px;
}

nav .nav-links {
    display: flex;
    gap: 10px;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

#logopic {
    height: 65px;
    vertical-align: middle;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    margin: 10px;
}

#luntian {
    color: white;
    font-size: 30px;
    margin-left: 8px;
}

/* partexts are the paragraphs of each section (i.e. The International Situation, the Local Situation) */

#partext1, #partext2, #partext3 {
    border-style: solid;
    padding: 10px;
    background-color: white;
    width: 70%
}

/* this part centers the text of the INTERNATIONAL SITUATION section using text-align center and margin: auto */

#pardiv1 {
    text-align: center;
}

#partext1 {
    margin: auto;
}

/* centers the table */

#table {
    width: 30%;
    margin: auto;
}

/* this part positions the pic from GMA to the left*/

#gmapic {
    float: left;
}

/* this part sets the paragraph 2 (LOCAL SITUATION / Locsit div) to the right */

#locsit {
    text-align: right;
}

#headtext2 {
    text-align: center;
}

#partext2 {
    float: right;
}

/* this part sets the heading of paragraph 3 (WHERE WE COME IN) to the center of the remaining space, after the right side is taken up by the CDN pic */

#headtext3 {
    clear: left;
    text-align: center;
}

/* positions the pic from CDN to the right */

#cdnpic {
    float: right;
}

/* sets the font for the webpage */

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* positions the "3 Es" heading to the middle*/

#intro {
    text-align: center;
}

/* this part sets the PANELS of the 3 Es, setting the positions within each preview as well as its overall positioning */

.panelsproper {
    padding: 10px;
    border: 2px solid black;
    float: left;
    width: 250px;
    text-align: center;
}

#threepanels {
    width: 62%;
    margin: 0 auto;
    overflow: auto; 
    margin-bottom: 20px;
}

/* sets background image for the entire page */

body {
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center center;
}

/* positions the small help button (not yet functional) */

#help {
    position: fixed;
    bottom: 0px;
    right: 0px;
    transition: all 3s;
    transition-timing-function: ease-in-out;
}

#help:hover {
    transform: rotate(360deg);
}

/* formats sources with small font according to rubrics */

#sources {
    font-size: small;
}